<nav class="navbar bg-light fixed-top bg-transparent py-3">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">ClimbHolds.ro</a> -->
        <button class="navbar-toggler shadow-none border-0 py-x" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <i class="fa-solid fa-user"></i>
        </button>
        <div>
            <span *ngIf="isLoggedIn">Hello, {{ username }}!</span>
        </div>
        <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping px-3"></i></a>
        <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header align-items-start position-absolute w-100">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-center">
                <ul *ngIf="isLoggedIn" class="navbar-nav justify-content-start flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link active offcanvas-link pt-0" routerLink="/products" data-bs-dismiss="offcanvas">Home</a>
                    </li>
                    <li *ngIf="isLoggedIn" class="nav-item">
                        <a class="nav-link active offcanvas-link pt-0" routerLink="/order-history" data-bs-dismiss="offcanvas">Order History</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li *ngIf="!isLoggedIn" class="nav-item mb-3">
                        <a class="auth-btn offcanvas-link" routerLink="/login" data-bs-dismiss="offcanvas">LOGIN</a>
                    </li>
                    <li *ngIf="!isLoggedIn" class="nav-item">
                        <a class="auth-btn offcanvas-link" routerLink="/register" data-bs-dismiss="offcanvas">REGISTER</a>
                    </li>
                    <li *ngIf="isLoggedIn" class="nav-item">
                        <a class="auth-btn offcanvas-link" (click)="logout()" data-bs-dismiss="offcanvas">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- 
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Function to close the offcanvas menu
        function closeOffcanvas() {
            var offcanvasElement = document.getElementById('offcanvasNavbar');
            var offcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
            offcanvas.hide();
        }

        // Attach click event listeners to all elements with the class 'offcanvas-link'
        var links = document.querySelectorAll('.offcanvas-link');
        links.forEach(function(link) {
            link.addEventListener('click', closeOffcanvas);
        });
    });
</script> -->
