.filter-button {
    border: 2px solid #212529;
    background-color: white;
    color: #212529;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.filter-button.active {
    background-color: #212529;
    color: white;
}

.filter-button:hover {
    background-color: #2125295a;
}

.text-right {
    text-align: right;
}

.clear-filters-btn {
    border: none;
    background-color: transparent;
    font-size: 14px;
}

.clear-filters-btn:hover {
    text-decoration: underline;
}
