<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12 d-lg-none">
            <h3 class="text-lg-center mb-2 mb-lg-5">{{ category | titlecase }}</h3>
        </div>
        <div class="col-12 col-lg-3 order-lg-last">
            <div class="filters fixed-side text-lg-end">
                <h5 class="mb-4 d-none d-lg-block">Filter by:</h5>
                <a class="primary-text-color text-center d-lg-none" data-bs-toggle="collapse" href="#filtersCollapse" role="button" aria-expanded="false" aria-controls="filtersCollapse">Filters</a>
                <div class="mt-3 mt-lg-0" [ngClass]="{'collapse': isMobile, 'show': !isMobile}" id="filtersCollapse">
                    <p class="mb-0">Brand:</p>
                    <div class="d-flex flex-wrap justify-content-lg-end mb-2">
                        <div *ngFor="let brand of brands">
                            <button type="button" class="filter-button my-2 me-2" [ngClass]="{'active': selectedBrand === brand}" (click)="selectBrand(brand)">
                                {{ brand }}
                            </button>
                        </div>
                    </div>
                    <button (click)="clearFilters()" class="clear-filters-btn mt-3"><i class="fa-solid fa-circle-xmark me-2"></i>Clear Filters</button>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-9 moving-side">
            <div class="row">
                <h3 class="text-center mb-5 d-none d-lg-block">{{ category | titlecase }}</h3>
                <div class="col-12 col-sm-6 col-lg-4 mb-4 mt-3 mt-lg-0" *ngFor="let product of products">
                    <app-product-card [product]="product"></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>