<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="country" class="form-label">country</label>
        <input type="text" class="form-control" id="country" required formControlName="country">
        <div *ngIf="checkoutForm.get('country')?.invalid && (checkoutForm.get('country')?.dirty || checkoutForm.get('country')?.touched)" class="alert alert-danger">
            <div *ngIf="checkoutForm.get('country')?.errors?.['required']">country is required.</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="street1" class="form-label">street1</label>
        <input type="text" class="form-control" id="street1" required formControlName="street1">
        <div *ngIf="checkoutForm.get('street1')?.invalid && (checkoutForm.get('street1')?.dirty || checkoutForm.get('street1')?.touched)" class="alert alert-danger">
            <div *ngIf="checkoutForm.get('street1')?.errors?.['required']">street1 is required.</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="street2" class="form-label">street2</label>
        <input type="text" class="form-control" id="street2" formControlName="street2">
    </div>
    <div class="mb-3">
        <label for="city" class="form-label">city</label>
        <input type="text" class="form-control" id="city" required formControlName="city">
        <div *ngIf="checkoutForm.get('city')?.invalid && (checkoutForm.get('city')?.dirty || checkoutForm.get('city')?.touched)" class="alert alert-danger">
            <div *ngIf="checkoutForm.get('city')?.errors?.['required']">city is required.</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="state" class="form-label">state</label>
        <input type="state" class="form-control" id="state" required formControlName="state">
        <div *ngIf="checkoutForm.get('state')?.invalid && (checkoutForm.get('state')?.dirty || checkoutForm.get('state')?.touched)" class="alert alert-danger">
            <div *ngIf="checkoutForm.get('state')?.errors?.['required']">state is required.</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="zip" class="form-label">zip</label>
        <input type="zip" class="form-control" id="zip" required formControlName="zip">
        <div *ngIf="checkoutForm.get('zip')?.invalid && (checkoutForm.get('zip')?.dirty || checkoutForm.get('zip')?.touched)" class="alert alert-danger">
            <div *ngIf="checkoutForm.get('zip')?.errors?.['required']">zip is required.</div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>