<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center my-5 pt-5">Categories</h2>
        </div>
        <div class="col-md-4" *ngFor="let category of categories">
            <button [routerLink]="['/category', category.name]" class="ripple-button category-btn w-100">
                {{ category.name }}
            </button>
        </div>

        <div class="col-12">
            <h2 class="text-center my-5">Newly Added Products</h2>
        </div>
        <ngx-slick-carousel class="carousel h-100" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let product of products.slice(0,6)" class="slide p-2 h-100">
                <div class="h-100">
                    <app-product-card [product]="product" class="h-100"></app-product-card>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>