<div *ngIf="step === 2">
    <h3>Step 2: Payment Details</h3>
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div class="col-12 col-lg-6 mb-3 mb-lg-2">
            <label for="cardNumber" class="form-label">Card Number</label>
            <input type="text" class="form-control rounded-0" id="cardNumber" required formControlName="cardNumber">
            <div class="form-alert-container mt-1">
                <div *ngIf="paymentForm.get('cardNumber')?.invalid && (paymentForm.get('cardNumber')?.dirty || paymentForm.get('cardNumber')?.touched)" class="form-alert">
                    <div *ngIf="paymentForm.get('cardNumber')?.errors?.['required']">Card Number is required.</div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 mb-3 mb-lg-2">
            <label for="expirationMonth" class="form-label">Expiration Month</label>
            <input type="text" class="form-control rounded-0" id="expirationMonth" required formControlName="expirationMonth">
            <div class="form-alert-container mt-1">
                <div *ngIf="paymentForm.get('expirationMonth')?.invalid && (paymentForm.get('expirationMonth')?.dirty || paymentForm.get('expirationMonth')?.touched)" class="form-alert">
                    <div *ngIf="paymentForm.get('expirationMonth')?.errors?.['required']">Expiration Month is required.</div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 mb-3 mb-lg-2">
            <label for="expirationYear" class="form-label">Expiration Year</label>
            <input type="text" class="form-control rounded-0" id="expirationYear" required formControlName="expirationYear">
            <div class="form-alert-container mt-1">
                <div *ngIf="paymentForm.get('expirationYear')?.invalid && (paymentForm.get('expirationYear')?.dirty || paymentForm.get('expirationYear')?.touched)" class="form-alert">
                    <div *ngIf="paymentForm.get('expirationYear')?.errors?.['required']">Expiration Year is required.</div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 mb-3 mb-lg-2">
            <label for="cvv" class="form-label">CVV</label>
            <input type="text" class="form-control rounded-0" id="cvv" required formControlName="cvv">
            <div class="form-alert-container mt-1">
                <div *ngIf="paymentForm.get('cvv')?.invalid && (paymentForm.get('cvv')?.dirty || paymentForm.get('cvv')?.touched)" class="form-alert">
                    <div *ngIf="paymentForm.get('cvv')?.errors?.['required']">CVV is required.</div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" (click)="previousStep()">Back</button>
        <button type="submit" class="btn btn-primary"  [disabled]="!paymentForm.valid">Next</button>
    </form>
</div>